img {
    float: left;
    height: auto;
    width: 25%;
    object-fit: cover;
}

#header {
    padding 70px;
    border: 1px solid transparent;
    background-color: gray;
}

body {
    background-color: green;
}