body {
    background-color: white;
    text-align: center;
    background-image: url("IMG_1860.JPG");
    opacity: 0.5;
}
  

header {
    padding: 200px;
    margin: 50x;
    text-align: center;
    background-color: transparent;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

h3 {
    text-align: center;
}

p {
    text-align: left;
    margin: 25px;
    font-size: 18px;
}

img {
    float: left;
    height: auto;
    width: 40%;
    /* object-fit: cover; */
    margin: 15px;

}

#intro {
    padding: 30px;
    margin: 200px;
    background-color: yellow;
    text-align: center;
    margin: 50px;
}


footer {
    text-align: center;
}

.row {
    padding: 25px; 
    margin: 200px;
    background-color: yellow; 
    text-align: justify;
    display:inline-block;
}

