body, html {
    background-color: white;
    text-align: center;
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    margin: 0;
    height: 100%;
    
}


header {
    padding: 50px 700px 50px 300px;
    background-color: white; 
}


#intro {
    /* background-color: rgb(186, 231, 224); */
    text-align: center;
}

p {
    margin: 700px 150px 200px 150px;
    padding: 50px;
    background-color: rgb(112, 97, 9);
    text-align: justify;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.932);
    opacity: 0.95;
}

h3 {
    text-align: center;
    background-color: rgb(186, 231, 224);
    padding: 15px;
    margin:0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.877), 0 6px 20px 0 rgba(0, 0, 0, 0.829);
}
   
#seoul2 p {
    margin-bottom: 0;
       
}

#tokyo3 h3{
    padding: 5px;
}

/* navigation bar*/
.navigation-bar a {
    display: inline-block;
    color: black;
    text-align: right;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
  }
  
  .navigation-bar a:hover {
    background-color: rgb(112, 97, 9);
    color: black;
  }
  
  .pill-nav a.active {
    background-color: rgb(186, 231, 224);
    color: white;
  }


.tokyo, .kyoto, .bangkok, .phuket, .chiang-mai, .seoul {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    /* opacity: 0.65; */
}

.bamboo {
    
    min-height: 100%;
}

.tokyo {
    background-image: url("IMG_0908.jpeg");
}

.kyoto {
    background-image: url("kyoto.JPG");
}

.bangkok {
    background-image: url("IMG_1351.jpeg");
}

.phuket {
    background-image: url("IMG_1409.jpeg");
}

.chiang-mai {
    background-image: url("IMG_0303.JPG");
}

.seoul {
    background-image: url("IMG_0376.JPG");

}

    /* fade in */
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
    }
  }



footer {
    text-align: center;
    background-color: rgb(186, 231, 224);
    margin: 0px;
    padding: 10px
}


